* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background-color: #ddd;
}

button {
    padding: 10px;
    margin-top: 20px;
}

dialog {
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0px 0px 100px rgba(0,0,0,0.5);
}
dialog h1 {
    margin-bottom: 20px;
    user-select: none;
}
dialog::backdrop {
    background-color: rgba(0,0,0,0.2);
}
dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
dialog form ul {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
dialog form ul li {
    position: relative;
}
dialog form ul li:not(:last-child) {
    margin-bottom: 20px;
}
dialog form ul li label {
    user-select: none;
}

.group {
    padding: 20px;
    border: 1px solid black;
}
.option {
    padding: 5px;
    width: 500px;
    border: 1px solid black;
}
/* .option:valid {
    border-color: green;
}
.option:invalid {
    border-color: red;
} */
.msg {
    font-size: 0.8rem;

    position: absolute;
    top: 0px;
    right: 0px;

    color: darkred;
}
